<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <title>
      {% if is_login %}Login
      {% elif is_home %}Home
      {% elif is_tag %}{{ tag }}
      {% elif page %}{{ page.content.split('\n')[0]|striptags }}
      {% elif post %}{{ post.content.split('\n')[0]|striptags }}
      {% endif %}
      | {{ site.name }}
    </title>

    {{ header_meta }}

    <link href="{{ assets('css/style.css') }}" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet" />
    <link href="{{ static('mediaelement/mediaelementplayer.css') }}" rel="stylesheet" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <style><!--
{% if is_tag %}
section.posts #content article.line{width:80px;display:inline-block;position:static;padding:0;margin:0 0.8em 1em;overflow: hidden;}
section.posts #content article.line h3.title{font-size:0.84em;
        -webkit-transform: scaleX(0.9);
        -webkit-transform-origin: left center;
        -moz-transform: scaleX(0.9);
        -moz-transform-origin: left center;
        -o-transform: scaleX(0.9);
        -o-transform-origin: left center;
        transform: scaleX(0.9);
        transform-origin: left center; margin:0;padding:0px;white-space: nowrap;overflow: hidden;position:relative;}
section.posts #content article.line .taglistmemo{font-size:0.75em;position:relative;}
section.posts #content article.line .taglistmemo a.postlink{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
section.posts #content article.line .post-image {height:75px;width:75px;}
#tagcontent {width:600px;}

{% endif %}
article { {% if not is_tag %}margin-bottom:1.5em; border:2px solid #cce;padding:1rem;{% endif %}{% if is_tag %}height:100px;width:95px;{% endif %} }
    --></style>

    {% if site.analytics %}
      <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.analytics }}']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      </script>
    {% endif %}
  </head>
<body>
  <header class="site-header">
    <h1 class="site-name"><a href="http://www.fureai.or.jp/~nataku/aiiro/">{{ site.name }}</a></h1>
  </header>
  <div role="navigation" id="nav">
    <ul>
      <li><a href="/">Home</a></li>
      {% if pages %}
      {% for page in pages %}
        {% if page.title.find("memo") == -1 %}
          <li><a href="{{ page.permalink }}" class="{{ set_active(page.permalink) }}">{{ page.content.split('\n')[0]|striptags }}</a></li>
        {% endif %}
      {% endfor %}
      {% endif %}
    </ul>
    <div id="nav2">
      {% if site.tags %}
      {% for tag in site.tags %}
        {% if tag.name.find("category") == -1 %}
          <a href="/tag/{{ tag.name }}">#{{ tag.name}}</a>
        {% endif  %}
      {% endfor %}
      {% endif %}
    </div>
    {% if is_home %}
      <div class="recent"><p>■　新着記事一覧　■</p>
        {% for year, items in sort_by_year(posts) %}
        {% for post in items %}
          <a href="{{ post.permalink }}" class="permalink"><time datetime="{{ post.created_at }}">{{ post.created_at.strftime("%y/%m/%d") }}</time> {{ post.content.split('\n')[0]|striptags }}</a>
          <span class="post-tags">{{ post.tags|format_tags(humanize=True) }}</span>
        {% endfor %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div role="main" class="main">
    <div class="block">
      <a href="#nav" id="toggle" class="block" aria-hidden="true"></a>
    </div>

<!-- home -->
    <div class="content">
      {% if is_home or is_tag %}
        {% if posts %}
        <section class="posts">
          {% if is_tag %}
            <h2>Tag: {{ tag|replace('category-',' ') }}</h2>
            <hr />
          {% endif %}
          {% for post in posts %}
            {% if is_tag %}
            <div id="content">
              <article class="itembox line">
                <h3 class="title"><a href="{{ post.permalink }}">{{ post.content.split('\n')[0]|striptags }}</a></h3>
                {% for photo in post.photos %}
                {% if photo and loop.index == 1 %}
                  <div class="post-image">
                    <a href="{{ post.permalink }}">
                    <img  src="{{ photo.square_75 }}" height="75px" width="75px" alt="Featured Photo" />
                    </a>
                  </div>
                {% endif %}
                {% endfor %}
                {% if is_tag and not post.photos %}
                {% if post.content|striptags|wordcount > 0 %}
                  <div class="taglistmemo"><a class="postlink" href="{{ post.permalink }}"></a>
                    <p>{{ post.content.split('\n')[1::]|join|striptags|truncate(20,true) }}</p>
                    <a href="{{ post.permalink }}">More &rarr;</a>
                  </div>
                {% endif %}
                {% endif %}
              </article>
            {% endif %}

            {% if not is_tag %}
              <article class="itembox ">
                <header class="title">
                  <h2><a href="{{ post.permalink }}">{{ post.content.split('\n')[0]|striptags }}</a></h2>
                </header>
                {% if post.content|wordcount > 0 %}
                  <div class="desc">
                    {% if post.content.count('--more--') > 0 %}
                      {% set moret = post.content.split('\n')[1::]|join %}
                      {{ post.content.split('\n')[1::]|join|truncate(moret.find('--more--'),true,'\n') }}
                      <span><a href="{{ post.permalink }}">More &rarr;</a></span>
                    {% else %}
                      {{ post.content.split('\n')[1::]|join }}
                    {% endif %}
                  </div>
                {% endif %}
                {% if post.tags %}
                  <div class="tags">
                    {{ post.tags|format_tags(delimiter=' ') }}
                  </div>
                {% endif %}
              </article>
            {% endif %}
          {% endfor %}
            </div>
        </section>

          {% if not is_tag %}
            <div class="pagination">
              {% if pagination.prev %}<a href="{{ pagination.prev }}" class="post-prev">&larr; View Previous Posts</a>{% endif %}
              {% if pagination.next %}<a href="{{ pagination.next }}" class="post-next">View More Posts &rarr;</a>{% endif %}
            </div>
          {% endif %}
        {% else %}
          <p class="no-posts"><em>No posts yet :(</em></p>
        {% endif %}

<!-- post-->
      {% elif is_post %}
        <article class="post">
          <header class="title">
            <h2>{{ post.content.split('\n')[0]|striptags }}</h2>
          </header>
          <section class="content">
            {{ post.content.split('\n')[1::]|join|replace('--more--','\n') }}
            {% if post.tags %}
            <div class="tags">
              {{ post.tags|format_tags(delimiter=' ') }}
            </div>
            {% endif %}
            <p class="post-date">{{ post.created_at|format_date("%Y/%m/%d") }}</p>
          </section>
          {% if site.disqus %}
            <hr />
            <section class="comments">
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                var disqus_shortname = '{{ site.disqus }}';
                (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </section>
          {% endif %}
        </article>
      {% elif is_link %}
        <article itemscope itemtype="http://schema.org/Article" class="post">
          <header class="title">
            <h2>{{ link.title }}</h2>
            <p class="post-date">Published by {{ site.author }} on {{ link.created_at|format_date }}</p>
          </header>
          <section class="content">
            {{ link.content }}
            <span class="link-url"><i class="icon-share"></i> <a href="{{ link.url }}">{{ link.url }}</a></span>
            {% if link.tags %}
            <div class="tags">
              {{ link.tags|format_tags(delimiter=' ') }}
            </div>
            {% endif %}
          </section>
          {% if site.disqus %}
            <hr />
            <section class="comments">
              <div id="disqus_thread"></div>
              <script type="text/javascript">
              var disqus_shortname = '{{ site.disqus }}';
              (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </section>
          {% endif %}
        </article>

      {% elif is_page %}
        <div class="post">
          <h2>{{ page.content.split('\n')[0]|striptags }}</h2>
          <hr />
          {{ page.content.split('\n')[1::]|join }}
        </div>
      {% endif %}

      <footer class="site-footer">
        <p class="left">All rights Reserved &copy; <a href="http://www.fureai.or.jp/~nataku/aiiro/">{{ site.name }}</a></p>
        <p class="right">Powered by <a href="http://postach.io" target="_blank">Postach.io</a></p>
      </footer>
    </div>
  </div>

    <script src="{{ static('themes/minimalist-flat/js/responsive-nav.min.js') }}"></script>
    <script src="{{ static('themes/minimalist-flat/js/hideAddressBar.js') }}"></script>
    <script>responsiveNav("#nav", { customToggle: "#toggle" });</script>
    <script src="{{ static('mediaelement/mediaelement-and-player.min.js') }}"></script>
    <script>$('audio').mediaelementplayer();</script>
</body>
</html>
